services:
  endee:
    image: endeeio/endee-server:latest
    container_name: endee-server
    ports:
      - "8080:8080"
    environment:
      # NDD_NUM_THREADS: 0  # 0 = use all available cores
      NDD_AUTH_TOKEN: "admin_secret" 
    volumes:
      - endee-data:/data
    restart: unless-stopped

volumes:
  endee-data:
